<div>
	<div ngIf="phase == 1">
		<settlement-wizard></settlement-wizard>
	</div>
	<div ngIf="phase == 2">
		<settlement2-wizard></settlement2-wizard>
	</div>
	<div ngIf="phase == 3">
		<settlement-wizard></settlement-wizard>
	</div>
	<div ngIf="phase == 4">
		<settlement-wizard></settlement-wizard>
	</div>
	<div ngIf="phase == 5">
		<settlement-wizard></settlement-wizard>
	</div>
	<div ngIf="phase == 6">
		<settlement-wizard></settlement-wizard>
	</div>
	<div ngIf="phase == 7">
		<settlement-wizard></settlement-wizard>
	</div>
</div>