<div class="col-md-12">
	<div class="row">
		<div class="col-md-9">
			<h1>{{settlement.name}}</h1>
		</div>
		<div class="col-md-3">
			Lantern Year: {{settlement.lanternYear}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			Population: {{settlement.population}}
		</div>
		<div class="col-sm-3">
			Deaths: {{settlement.deathCount}}
		</div>
		<div class="col-sm-3">
			Lost Settlements: {{settlement.lostSettlements}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			Survival Limit: {{settlement.survivalLimit}}
		</div>
	</div>
</div>